<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="AgentPHPUnit"
                  file="vendor/reportportal/phpunit/src/AgentPHPUnit.php">
            <arguments>
                <string>reportportal-uuid</string>
                <string>https://reportportal.example.com</string>
                <string>project-name</string>
                <string>.000+00:00</string>
                <string>test launch name</string>
                <string>test launch description</string>
            </arguments>
        </listener>
    </listeners>
</phpunit>
